# Banco (usado pelo docker-compose)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=financial_api

# Banco (usado pelo Prisma)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/financial_api?schema=public"

# Auth
JWT_SECRET=troque-por-um-segredo-longo-e-aleatorio
JWT_EXPIRES_IN=15m

# App
PORT=3000